{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - {{ year|date:"Y" }} Posts
{% endblock %}

{% block body %}
<div role="navigation" aria-label="breadcrumbs navigation">
    <ul class="breadcrumb">
      <li><a href="{% url 'blog_post_list' %}">News</a></li>
      <li class="active">{{ year|date:"Y" }}</li>
    </ul>
    <div class="col-sm-4 pull-right">
  {% if perms.blog.add_post %}
    <a class="btn btn-primary"
          href="{% url 'blog_post_create' %}">
        Write New News</a>
  {% endif %}
      </div>

   <h3>All News for {{ year|date:"Y" }}</h3>
</div>

<div class="row">
  <div class="col-sm-8">


    {% for post in post_list %}
      <article class="list-item">
        <header>
          <h3>
            <a href="{{ post.get_absolute_url }}">
              {{ post.title|title }}
          </a></h3>
          {% if perms.blog.change_post or perms.blog.delete_post %}
            <ul class="inline">
              {% if perms.blog.change_post %}
                <li>
                   <a href="{{ post.get_update_url }}">
                  <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil">Edit This News</span>
                </button></a>
                  </li>
              {% endif %}
              {% if perms.blog.delete_post %}
                <li>
                 <a href="{{ post.get_delete_url }}">
                   <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-trash"> Delete This News</span>
                </button></a></li>
              {% endif %}
            </ul>
          {% endif %}
          <div><br></div>

        </header>
        <p>{{ post.text|truncatewords:20 }}</p>
        <p class="read-more">
          <a href="{{ post.get_absolute_url }}">
              Read more&hellip;
        </a><p>
         <p>
            Written on:
            <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
              {{ post.pub_date|date:"l, F j, Y" }}
            </time>
            by
            <a href="{{ post.author.get_absolute_url }}">
              {{ post.author.profile.name }}</a>
          </p>
      </article>
    {% endfor %}
  </div>
  <div class="col-sm-4">

    <h3>Archives by Month</h3>
    <ul>
      {% for m in date_list %}
      <li><a href="{% url 'blog_post_archive_month' m|date:'Y' m|date:"n" %}">
          {{ m|date:"F Y" }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="pagination">
      {% if previous_year %}
        <li>
          <a href="{% url 'blog_post_archive_year' previous_year|date:'Y' %}">
            ❮ News from {{ previous_year|date:"Y" }}</a>
        </li>
      {% endif %}
      {% if next_year %}
        <li>
          <a href="{% url 'blog_post_archive_year' next_year|date:'Y' %}">
            News from {{ next_year|date:"Y" }} ❯</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>


{% endblock %}
