<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}


{% load member_template_tags %}

{% load archieve_sidebar %}


  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {% block title_tag %}<title>{% block title %}{% if page.title %}{{ page.title }}{% endif %}{% endblock %}</title>{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link href="{% static 'site/css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="{% static 'site/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/mystyle.css' %}" rel="stylesheet">
       <link rel="alternate" title="Blog News RSS"
      type="application/rss+xml"
      href="{% url 'blog_rss_feed' %}">
    <link rel="alternate" title="Blog News Atom"
      type="application/atom+xml"
      href="{% url 'blog_atom_feed' %}">



      {% block head_extra %}

        {% endblock head_extra %}


  </head>

  <body>

    {% include 'navbar.html' %}

    {% if messages %}
        <div class="row">
          <div class="twelve columns">
            <ul class="messages">
              {% for message in messages %}
                {% if message.tags %}
                  <li class="{{ message.tags }}">
                {% else %}
                  <li>
                {% endif %}
                {{ message }}</li>
              {% endfor %}
        </ul></div></div>
      {% endif %}

    <div class="container">
    <div class="row">
                <!--/span-->

            <div class="col-sm-3 col-md-2 sidebar">
            {% block sidebar_block %}
                {% entry_history %}
                {% get_archieve_post %}
                {% endblock %}
            </div>

            <div class="col-sm-9 offset-sm-3 col-md-10 offset-sm-2 main">
                {% block page_header %}{% endblock page_header %}

             {% block body %}{% endblock %}
                <div class="content"></div>

            </div>

      </div>
    </div>





   <footer class="row-footer">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-6 col-xs-offset-1">

                    <ul class="list-inline">
                        <li><a href="{% url 'member:home' %}">Home</a></li>
                        <li><a href="{% url 'about_site' %}">About</a></li>
                        <li><a href="{% url 'member:event-gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>


                 <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
               <a class="a2a_button_linkedin"></a>

                <a class="a2a_button_google_plus"></a>
                <a class="a2a_button_pinterest"></a>
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                </div>




                <div class="col-xs-5 ">
                <ul class="list-inline">
                    <li>
                      <a href="{% url 'sitemap' %}">
                        Sitemap</a>
                    </li>

                       <li>
                          <a
                              href="{% url 'blog_rss_feed' %}"
                              class="feed">
                            Blog RSS Feed</a>
                        </li>
                        <li>
                          <a
                              href="{% url 'blog_atom_feed' %}"
                              class="feed">
                            Blog Atom Feed</a>
                        </li>
                    </ul>
        </div>

                <!--<div class="col-xs-12">-->
                    <!--<p style="padding:10px;"></p>-->

                <!--</div>-->

            </div>
            <p align=center>Design & Developed by: Md. Ohiduzzaman, © Copyright 2016 Applied Chemistry and Chemical Engineering Department Alumni</p>
        </div>

    </footer>

        {% block bottom_script %}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
        <script type="text/javascript" src="{% static 'site/js/urlify.js' %}"></script>
        <script src="{% static 'site/js/jquery-1.12.4.js' %}"></script>
        <script src="{% static 'site/js/jquery-ui.js' %}"></script>
        <script src="{% static 'site/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'site/js/photo.js' %}"></script>

         <script type="text/html" id="gallery-template">
            <div id="gallery-__prefix__">
                {{ formset.empty_form }}
            </div>
        </script>


        <script async src="https://static.addtoany.com/menu/page.js">

        </script>



        <script type="text/javascript">
            document.getElementById("id_child_name").onchange = function() {
                var e = document.getElementById("id_slug");
                if (!e._changed) { e.value = URLify(document.getElementById("id_child_name").value, 50); }
            }
        </script>




        <!-- Le javascript
        ================================================== -->

    {% endblock bottom_script %}


  </body>
</html>

